.center {
    margin-left: 20%;
    margin-right: 60%;
    
}
body {
    background-image: url('http://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
}
.err{
    color: red;
}
