<div class="container">
    
    <h3>Postovani, unesite podatke kako bi rezervisali putovanje.
    </h3>
    <br>
    <div style="color: green;">
        <h3>Za porodice sa decom 20% popusta!</h3>
    </div>
    <br>
    <div class="center">
        <form (ngSubmit)="addRezervacija()">
            <table>
                <tr>
                    <td>Korisnik</td>
                    <td> {{imeKorisnika}} {{prezimeKorisnika}}</td>
                </tr>
                <tr>
                    <td>Destinacija</td>
                    <td> {{dest}}</td>
                </tr>
                <tr>
                    <td>Tip prevoza</td>
                    <td><select class="form-select" [(ngModel)]="transport" name="transport" required>
                            <option *ngFor="let t of transports" [(ngValue)]="t.opisTransporta">{{t.opisTransporta}}
                            </option>
                        </select></td>
                    <td>Cena ce biti umanjena za 15% ukoliko idete svojim prevozom.</td>
                </tr>
                <tr>
                    <td>Tip smestaja</td>
                    <td><select class="form-select" [(ngModel)]="smestaj" name="smestaj" required>
                            <option *ngFor="let s of smestajs" [(ngValue)]="s.opisSmestaja">{{s.opisSmestaja}}</option>
                        </select></td>
                    <td>Za apartman se doplacuje jos 10% od ukupne cene.</td>

                </tr>
                <tr>
                    <td>Koliko dana ostajete?</td>
                    <td><input class="form-control" type="number" name="brojDana" required [(ngModel)]="brojDana" />
                    </td>
                </tr>
                <tr>
                    <td>Vodite decu?</td>
                    <td><input type="checkbox" name="deca" [(ngModel)]="deca" /></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Rezervisi</button></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="ok">
        dlsa
    </div>