<div class="container">
    <div class="center">
        <form (ngSubmit)="updateDest()">
            <div>
                <label>Cena po nocenju</label>
                <input class="form-control" type="number" name="cena" [(ngModel)]="cena" />
            </div>
            <div>
                <label>Datum polaska</label>
                <input class="form-control" type="date" name="datum" [(ngModel)]="datum" />
            </div>
            
            <div>
                <label>Slika URL</label>
                <input class="form-control" type="text" name="slika" [(ngModel)]="slika"/>
            </div>
            <div>
                <button style="margin-top: 2%;" type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>

    </div>

</div>