<div class="dest-container" style="margin-top: 10%;">
    <div><img [src]="dest.slika" width="250px" height="250px"></div>
    <div style="background-color: white; width: 250px; height: auto; margin-left: 11%;">
    <div>{{dest.naziv}}</div>
    <div>Datum polaska: {{date | date:'MM/dd/yyyy'}}</div>
    <div>Cena nocenja od {{dest.cena}}$</div>
    </div>
    <div><a href="/add-rezervacija?dest={{dest.naziv}}&cena={{dest.cena}}"><button class="btn btn-primary" *ngIf="isLogIn">Rezervisi</button></a></div>
    <div>
        <span style="margin: 2%;"><a href="/update-destinacija?naziv={{dest.naziv}}"><button  class="btn btn-primary" *ngIf="adminLogin">Azuriraj</button></a></span>
        <span style="margin: 2%;"><button (click)="deleteDest()" class="btn btn-danger" *ngIf="adminLogin"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg> Ukloni</button></span>
    </div>
</div>
